name: bodytalk_app
description: "A Flutter project for AI body analysis"

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  cupertino_icons: ^1.0.6
  google_fonts: ^6.1.0
  flutter_animate: ^4.5.0
  image_picker: ^1.0.4
  http: ^1.1.0
  device_info_plus: ^11.5.0
  shared_preferences: ^2.3.1
  local_auth: ^3.0.0
  in_app_purchase: ^3.2.3
  intl: ^0.20.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/onb1.png
    - assets/images/onb2.png
    - assets/images/onb3.png
